@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

nav {
    max-width: 62.5rem;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 1.25rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

div {
    display: flex;
    gap: 3.125rem;
}

.logo {
    font-family: 'Teko', sans-serif;
    width: 18.75rem;
    font-weight: 300;
    font-size: 1.875rem;
    line-height: 0.8;
    cursor: pointer;
}

.navitem {
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
}