textarea {
    width: 400px;
    height: 250px;
    padding: 12px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #f8f8f8;
}

.container {
    max-width: 43.75rem;
    margin: 1.875rem auto;
    background-color: palevioletred;
    color: white;
    padding: 1.5625rem;
    border-radius: 5px;
}