<form [formGroup]="newPost" class="container" (ngSubmit)="onSubmit">
    <h2 class="mb-4">Add new recipe</h2>
    <div class="mb-3">
        <label class="form-label">Recipe title</label>
        <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" class="form-control" formControlName="author">
    </div>
    <div class="mb-3">
        <label class="form-label">Author image url</label>
        <input type="text" class="form-control" formControlName="author_image">
    </div>
    <div class="mb-3">
        <label class="form-label">Recipe image url</label>
        <input type="text" class="form-control" formControlName="image">
    </div>
    <div class="mb-3">
        <label class="form-label">Category</label>
        <select class="form-select" formControlName="category">
            <option selected>Select recipe category</option>
            <option *ngFor="let cat of arrCategories" [value]="cat">{{cat}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Tags (please separate tags with commas)</label>
        <input type="text" class="form-control" formControlName="tags">
    </div>
    <div class="mb-3">
        <label for="">Content</label>
        <editor formControlName="content" apiKey="no-api-key" [disabled]="false" id="editor" [init]="{ plugins: 'code help image lists link powerpaste table wordcount',
                            base_url: '/tinymce',
                            suffix: '.min'
                          }" [inline]="false"
            toolbar="bold italic underline | formatpainter | aligncenter alignleft alignright alignjustify | selectall | ltr rtl | code | help">
        </editor>
    </div>
    <input type="submit" class="btn btn-light" value="Post recipe">
</form>