@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-pink-glitter-background-picture-image_989516.jpg');
    background-repeat: repeat;
}