@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

body {
    background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-pink-glitter-background-picture-image_989516.jpg');
    background-repeat: repeat;
}